<ion-view view-title="Start" name="start-view">
  <ion-content class="padding" scroll="false" style="background-color: #72AC62;">
    <div style="height:100%;">
      <div style="height: 60%;">
        <div style="height: 80%;width: 80%;text-align: center;display:block;margin:0 auto;width: 200px;	padding-top: 25px;">
          <img ng-src="img/logo_big.jpg" style="max-width:100%;max-height:100%;">
        </div>
      </div>
      <div style="height: 20%;text-align: center;vertical-align: middle;">
        <div style="height: 80%;width: 80%;text-align: center;display:block;margin:0 auto;width: 200px;">
          <img ng-src="img/score_background.png" style="max-width:100%;max-height:100%;">
        </div>
      </div>
      <div style="height: 20%;">
        <button class="button button-energized" ng-click="startGame()" style="display:block;margin:0 auto;width: 200px;">
          <span style="font-family: 'CubanoRegular'">Start</span>
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
